.construccion{
    width: 40%;
    height: auto;
}
section{
    h1{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    h3{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}