/*----------------------------------------------------------------*/
/*------------------------footer----------------------------------*/
/*----------------------------------------------------------------*/

footer {
    background-color: black;
    color: white;
    height: 20.5rem;
    align-items: center;
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    transition: 2s;
    a {
        color: white;
        transition: 1s;
    }
    a:hover {
        transform: scale(1.2, 1.2);
        transition: 1s;
        text-decoration: none;
    }
    h3 {
        padding-bottom: 1rem !important;
        padding-top: 1rem !important;
    }
}
.footer_mapasitio {
    font-size: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer_mapasitio_texto {
    text-decoration: underline;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer_newsletter {
    font-size: 1rem;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.6rem;
    color: white;
    text-align: center;
}
.footer_newsletter::placeholder {
    color: white;
    text-align: center;
}
.footer_boton {
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    footer {
        height: 51.0rem;
        -webkit-transition: 2s;
        transition: 2s;
    }
}
