.franquicia_subtitulo {
    width: 90vw;
    height: 18vw;
    @extend .titulo_caja;
    h2 {
        top: 35%;
    }
}
.franquicia_contenido {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    p {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
