/*----------------------------------------------------------------*/
/*------------------------nuestra historia------------------------*/
/*----------------------------------------------------------------*/

.history{
    background-color: white;
    p{
        padding-left: 5%;
        padding-right: 5%;
    }
}
.history__title{
    padding-top: 4rem;
    padding-bottom: 3rem;
    transition: 0.3s ease-in-out;
}
.history__text{
    display: flex;
    padding-bottom: 4rem;
}
.history__text__left{
    display: grid;
    grid-column: 1;
    grid-row: 1fr 1fr;
    grid-template-areas: 
        "hist1"
        "hist2";
    grid-area: hist4;
    width: 49%;
}
#history__img{
    width: 100%;
    border-radius: 50%;
}
.history__text__left__img{
    grid-area: hist1;
    justify-self: center;
    align-self: center;
    flex-basis: 50%;
    margin-left: 15%;
    margin-right: 15%;
}
.history__text__left__explain{
    grid-area: hist2;
    text-align: left;
    flex-basis: 50%;
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}
.history__text__right{
    grid-area: hist3;
    width: 49%;
    display: grid;
    grid-column: 1;
    grid-row: 6;
    grid-template-areas: 
        "valor1"
        "valor4"
        "valor2"
        "valor5"
        "valor3"
        "valor6";
    grid-column-gap: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.history__text__right__value{
    font-weight: bold;
}
#valor1{
    grid-area: valor1;
    margin-bottom: 0.2rem;
}
#valor2{
    grid-area: valor2;
    margin-bottom: 0.2rem;
}
#valor3{
    grid-area: valor3;
    margin-bottom: 0.2rem;
}
#valor4{
    grid-area: valor4;
    margin-bottom: 2rem;
}
#valor5{
    grid-area: valor5;
    margin-bottom: 2rem;
}
#valor6{
    grid-area: valor6;
    margin-bottom: 2rem;
}
.history_fotos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.history_fotos_img{
    margin-top:2rem;
    margin-bottom: 2rem;
    img{
        border-radius: 50px;
    }
}
.history_fotos_img_hover{
    opacity: 0%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 400px;
    height: 700px;
    transition: 1s;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
}
.history_fotos_img_hover:hover{
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    transition: 0.5s;
}
.history_principios{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.history_principios_item{
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 1rem 0.15rem black;
}
.history_carousel{
    height: 5rem;
    margin-bottom: 1.75rem;
    p{
        font-size: calc(1.2em + 1.2vw);
        font-weight: bold;
        font-style: italic;
    }
}
.nosotros_img_box{
    @extend .img_caja;
    h2{
        top: 35%;
    }
}
.nosotros_titulo{
    white-space: nowrap;
}
@media only screen and (max-width: 800px){
    .history_principios{
        flex-direction: column;
    }
    .history_principios_item{
        margin-bottom: 2rem;
    }
    .nosotros_titulo{
        font-size: calc(1.2em + 1.2vw);
        transition: 1s;
    }
}

@media only screen and (max-width: 650px){
    .history_carousel{
        p{
            font-size: calc(1.0em + 1.0vw);
            line-height: 20px;
        }
    }
}
@media only screen and (max-width: 600px){
    .nosotros_titulo{
        padding: 0.5rem !important;
        transition: 1s;
    }
}

@media only screen and (max-width: 550px){
    .history_fotos_img{
        img{
            width: 300px;
            height: 525px;
            transition: 1s;
        }
    }
    .history_fotos_img_hover{
        width: 300px;
        height: 525px;
    }
}

@media only screen and (max-width: 400px){
    .history_fotos_img{
        img{
            width: 225px;
            height: 394px;
            transition: 1s;
        }
    }
    .history_fotos_img_hover{
        width: 225px;
        height: 394px;
        h3{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin: 0;
        }
        p{
            line-height: 17px;
        }
    }
    .nosotros_titulo{
        padding: 0.25rem !important;
        transition: 1s;
    }
}