#iconoDePagina{
    height: 6rem;
}
nav{
    height: 7rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: bold;
    font-size: 1.12rem;
    background-color: black;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    width: 100%;
    color: white;
}
header{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
#logoPagina{
    height: 5rem;
}
.home{
    background-image: url(imagenes/fondo-nombre-rest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 235, 181);

}
.home1_img{
    width: 100%;
    height: auto;
}
.home__nav__section{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: 1s;
}
.home__nav__section:hover{
    transform: scale(1.25,1.25);
    transition: 1s;
    a{
        color: white;
    }
}
.home__title{
    padding-top: 10%;
    padding-bottom: 50%;
    margin-bottom: 0;
}
h1{
    font-size: 50px;
    color: black;
}
.home__nav__section__eight{
    display: none;
  }
.home__nav__section__four{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 20%;
    display: flex;
    align-items: center;
    h3{
        margin: 0;
        margin-left: 1rem;
    }
}
.animate__animated.animate__zoomIn{
    --animate-duration: 3.5s;
}
.home_nav_interno{
    padding-left: 15px;
    padding-right: 15px;
}
.home_nav_section_otros{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content:flex-end;
    margin-left: 2rem;
    margin-right: 2rem;
}
.home_nav_section_otros_interno{
    display: flex;
    flex-wrap: nowrap;
}
.home_intro{
    p{
    padding-left: 5%;
    padding-right: 5%;
    }
    h3{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}
.home_seccion{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.home_seccion_img{
    width: 50%;
}
.home_seccion_texto{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    h3{
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 50px;
        box-shadow: 0 0 1rem 0.25rem black;
    }
    p{
        margin-top: 1rem;
    }
}
.home_institucional_title{
    padding-bottom: 3rem;
}
.home_institucional{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 4rem;
    h4{
        border-radius: 50px;
        box-shadow: 0 0 1rem 0.25rem black;
        text-decoration: none;
    }
}
.home_institucional_img{
    width: 200px;
    height: 175px;
    border-radius: 50px;
}
.home_institucional_texto{
    width: 200px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.507);
    opacity: 100%;
    position: absolute;
    transition: 0.5s;
    border-radius: 50px;
}
.home_institucional_texto:hover{
    opacity: 0%;
    color: white;
    line-height: 175px;
    transition: 0.5s;
}

@media only screen and (min-width: 2200px){
    .margin{
        width: 1976px;
        margin-left: auto;
        margin-right: auto;
    }
}