.mapasitio_subtitulo {
    width: 90vw;
    height: 18vw;
    @extend .titulo_caja;
    h2 {
        top: 35%;
    }
}
.sitemap_caja {
    display: flex;
    justify-content: space-evenly;
}
.sitemap_subtitulo {
    text-align: left;
    text-decoration: none;
}
.sitemap_list {
    list-style-type: none;
    display: block;
    text-align: left;
    margin-bottom: 4rem;
    padding-left: 0;
    li {
        a {
            color: black;
        }
    }
}

@media only screen and (max-width: 600px) {
    .sitemap_caja {
        flex-direction: column;
        h4{
            text-align: center;
        }
    }
    .sitemap_list{
        text-align: center;
    }
}