.sitemap_list{
    list-style-type: square;
    display: block; 
    text-align: left;
    margin-left: 40px;
    margin-bottom: 4rem;
}
.sitemap_subtitulo{
    text-align: left;
    margin-left: 40px;
    text-decoration: none;
}
.sitemap_titulo{
    margin-left: 40px;
    margin-right: 40px;
}