/*----------------------------------------------------------------*/
/*------------------------menu------------------------------------*/
/*----------------------------------------------------------------*/
.menu{
    justify-content: center;
}
.menu_box{
    margin: 0 auto;
    margin-top: 3rem;
    position: absolute; 
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    transition: 1s;
    height: 215px;
    width: 290px;
    h3{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
    }
    p{
        margin-bottom: 0;
    }
    h4{
        margin-top: 0;
        margin-bottom: 0;
    }
}
.menu_box:hover{
    transform: scale(1.10,1.10);
    transition: 1s;
}
.menu_box_contenedor{
    margin: 0 auto;
    width: 912px;
    height: 1525px;
}
#box1{
    margin-left: 35px;
}
#box2{
    margin-left: 290px+332px-35px;
}
#box3{
    margin-top: 300px+48px;
    margin-left: 35px;
}
#box4{
    margin-top: 300px+48px;
    margin-left: 290px+332px-35px;
}
#box5{
    margin-top: 300px*2+48px;
    margin-left: 35px;
}
#box6{
    margin-top: 300px*2+48px;
    margin-left: 290px+332px-35px;
}
#box7{
    margin-top: 300px*3+48px;
    margin-left: 35px;
}
#box8{
    margin-top: 300px*3+48px;
    margin-left: 290px+332px-35px;
}
#box9{
    margin-top: 300px*4+48px;
    margin-left: 35px;
}
#box10{
    margin-top: 300px*4+48px;
    margin-left: 290px+332px-35px;
}
@media only screen and (max-width: 1024px){
    .menu_box_contenedor{
        margin: 0 auto;
        width: 912px-150px;
        height: 1525px;
    }
    #box1{
        margin-left: 5vw;
    }
    #box2{
        margin-left: 400px;
    }
    #box3{
        margin-top: 300px+48px;
        margin-left: 35px;
    }
    #box4{
        margin-top: 300px+48px;
        margin-left: 290px+332px-35px;
    }
    #box5{
        margin-top: 300px*2+48px;
        margin-left: 35px;
    }
    #box6{
        margin-top: 300px*2+48px;
        margin-left: 290px+332px-35px;
    }
    #box7{
        margin-top: 300px*3+48px;
        margin-left: 35px;
    }
    #box8{
        margin-top: 300px*3+48px;
        margin-left: 290px+332px-35px;
    }
    #box9{
        margin-top: 300px*4+48px;
        margin-left: 35px;
    }
    #box10{
        margin-top: 300px*4+48px;
        margin-left: 290px+332px-35px;
    }
}