.menu {
    justify-content: center;
    display: inline-block;
}
.menu_inicial_subtitulo {
    width: 90vw;
    height: 18vw;
    @extend .titulo_caja;
    h2 {
        top: 35%;
    }
}
.menu_box_contenedor {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 2rem;
}
.menu_box {
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 50px;
    width: 350px;
    transition: 1s;
    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
        display: inline;
        text-decoration: underline;
    }
    p {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
    }
}
.menu_box:hover {
    transition: 1s;
    box-shadow: 0 0 1rem 0.15rem   black;
}
.menu_intermedio_subtitulo {
    width: 90vw;
    height: 20vw;
    margin-bottom: 3rem;
    @extend .titulo_caja;
    h2 {
        top: 45%;
    }
}

@media only screen and (min-width: 1560px) {
    .menu_box_contenedor {
        width: 1392px;
    }
}
@media only screen and (max-width: 450px) {
    .menu_box {
        width: unset;
        padding-left: 5%;
        padding-right: 5%;
    }
}
