/*----------------------------------------------------------------*/
/*---------------parte responsive pantalla mediana----------------*/
/*----------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  /*----------------------------------------------------------------*/
  /*------------------------nuestra historia------------------------*/
  /*----------------------------------------------------------------*/

  #cuadrosHaV {
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1;
    grid-template-areas: "hist1 hist2 hist3";
    padding-bottom: 4rem;
  }
  #hist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .history__text__left__img {
    flex-basis: 50%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .history__text__left__explain {
    flex-basis: 50%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 768px) {
  #menu__img {
    background-color: transparent !important;
    width: 100%;
  }
}
