/*----------------------------------------------------------------*/
/*---------------parte responsive pantalla chica----------------*/
/*----------------------------------------------------------------*/

@media only screen and (max-width: 480px){

    /*----------------------------------------------------------------*/
    /*------------------------aplica a header-------------------------*/
    /*----------------------------------------------------------------*/
    
    
    /*----------------------------------------------------------------*/
    /*------------------------nuestra historia------------------------*/
    /*----------------------------------------------------------------*/
    
        #hist{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .history__text__left__img{
            flex-basis: 50%;
            margin-left: 15%;
            margin-right: 15%;
        }
        .history__text__left__explain{
            flex-basis: 50%;
            margin-left: 5%;
            margin-right: 5%;
        }
        .history__text__right{
            display: grid;
            grid-column: 1;
            grid-row: 6;
            grid-template-areas: 
                "valor1"
                "valor4"
                "valor2"
                "valor5"
                "valor3"
                "valor6";
            grid-column-gap: 10%;
            margin-left: 5%;
            margin-right: 5%;
        }
    
    /*----------------------------------------------------------------*/
    /*------------------------beneficios------------------------------*/
    /*----------------------------------------------------------------*/
    
        .beneficio__intern{
            display: grid;
            grid-column: 1;
            grid-row: 8;
            grid-template-areas: 
                "beneficio9"
                "beneficio1" 
                "beneficio4"
                "beneficio10" 
                "beneficio2" 
                "beneficio5"
                "beneficio11" 
                "beneficio3"
                "beneficio6"
                "beneficio12" 
                "beneficio7" 
                "beneficio8";
            grid-column-gap: 5%;
            margin-left: 5%;
            margin-right: 5%;
        }
    
    }