@media only screen and (max-width: 1050px){
    .galeria__recuadro{
        width: 600px;
        height: 1500px;
        transition-duration: 1s;
        transition-property: all;
    }
    .img{
        transition-duration: 1s;
        transition-property: all;
    }
    .img1{
        margin-left: 10px;
    }

    .img2{
        margin-left: 310px;
    }
    .img3{
        margin-left: 10px;
        margin-top: 244px;
    }
    .img4{
        margin-top: 244px;
        margin-left: 310px;
    }
    .img5{
        margin-top: 478px;
        margin-left: 10px;
    }
    .img6{
        margin-top: 478px;
        margin-left: 310px;
    }
    .img7{
        margin-top: 712px;
        margin-left: 10px;
    }
    .img8{
        margin-top: 712px;
        margin-left: 310px;
    }
    .img9{
        margin-top: 946px;
        margin-left: 10px;
    }
    .img10{
        margin-top: 946px;
        margin-left: 310px;
    }
    .img11{
        margin-top: 1180px; 
        margin-left: 10px;
    }
    .img12{
        margin-top: 1180px;
        margin-left: 310px;
    }
}