*{
    margin:0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Zilla Slab', serif !important;
}
a{
    text-decoration: none ;
    color: white ;
}
.margin{
    margin: 5%;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0 0 1rem 0.50rem   black;
    overflow: hidden;
}
.titulo_caja{
    overflow: hidden;
    position: relative; 
    float: left;
    width: 90vw;
    height: 33vw;
    h1, h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        border-radius: 50px;
        box-shadow: 0 0 1rem 0.25rem white;
        color: white;
    }
    h2{
        top: 35%;
    }
}
.titulo_principal{
    white-space: nowrap;
    z-index: 3;
}
.titulo_img{
    width: 90vw;
    height: 33vw;
    filter: blur(3px);
    transform: scale(1.01, 1.01);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.subtitulo_texto{
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-bottom: 0px;
    font-size: 2rem;
    white-space: nowrap;
    z-index: 2;
}
.subtitulo_error{
    width: 90vw;
    height: 18vw;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.subtitulo_img{
    width: 100%;
    height: auto;
    padding-top: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 1000px){
    .subtitulo_texto{
        font-size: calc(1em + 1vw);
        transition: 1s;
    }
    .img_caja{
        h1,h2{
            box-shadow: 0 0 1rem 0.20rem white;
            transition: 1s;
        }
    }
}

@media only screen and (max-width: 800px){
    .titulo_principal{
        font-size: calc(1.2em + 1.2vw);
        transition: 1s;
    }
}

@media only screen and (max-width: 600px){
    .titulo_principal{ 
        padding: 0.5rem !important;
    }
    .subtitulo_texto{
        padding: 0.5rem !important;
        font-size: calc(0.8em + 0.8vw);
        transition: 1s;
    }
    .img_caja{
        h1,h2{
            box-shadow: 0 0 1rem 0.15rem white;
            transition: 1s;
        }
    }
    .img_caja{
        h1,h2{
            box-shadow: 0 0 1rem 0.10rem white;
            transition: 1s;
        }
    }
}

@media only screen and (max-width: 400px){
    .titulo_principal{
        font-size: calc(1em + 1vw);
        padding: 0.25rem !important;
        transition: 1s;
    }
    .subtitulo_texto{
        padding: 0.25rem !important;
        font-size: calc(0.7em + 0.7vw);
        transition: 1s;
    }
}


@import "scss/_header.scss";
@import "scss/_inicio";
@import "scss/_historia";
@import "scss/_menu";
@import "scss/_galeria";
@import "scss/_beneficio";
@import "scss/_contacto";
@import "scss/_footer";
@import "scss/_error";
@import "scss/_mapasitio";
@import "scss/_reservas";
@import "scss/_rrhh";
@import "scss/_franquicia.scss";
@import "scss/_prensa.scss";