* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Zilla Slab', serif !important;
}

a {
  text-decoration: none;
  color: white;
}

.margin {
  margin: 5%;
  border: 2px solid black;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 1rem 0.50rem   black;
          box-shadow: 0 0 1rem 0.50rem   black;
  overflow: hidden;
}

.titulo_caja, .home_inicial_subtitulo, .home_intermedio_subtitulo, .nosotros_inicial_subtitulo, .nosotros_intermedio_subtitulo, .menu_inicial_subtitulo, .menu_intermedio_subtitulo, .galeria_subtitulo, .beneficio_inicial_subtitulo, .beneficio_intermedio_subtitulo, .contacto_inicial_subtitulo, .contacto_intermedio_subtitulo, .mapasitio_subtitulo, .reservas_subtitulo, .rrhh_subtitulo, .franquicia_subtitulo, .prensa_subtitulo, .prensa_intermedio_subtitulo {
  overflow: hidden;
  position: relative;
  float: left;
  width: 90vw;
  height: 33vw;
}

.titulo_caja h1, .home_inicial_subtitulo h1, .home_intermedio_subtitulo h1, .nosotros_inicial_subtitulo h1, .nosotros_intermedio_subtitulo h1, .menu_inicial_subtitulo h1, .menu_intermedio_subtitulo h1, .galeria_subtitulo h1, .beneficio_inicial_subtitulo h1, .beneficio_intermedio_subtitulo h1, .contacto_inicial_subtitulo h1, .contacto_intermedio_subtitulo h1, .mapasitio_subtitulo h1, .reservas_subtitulo h1, .rrhh_subtitulo h1, .franquicia_subtitulo h1, .prensa_subtitulo h1, .prensa_intermedio_subtitulo h1, .titulo_caja h2, .home_inicial_subtitulo h2, .home_intermedio_subtitulo h2, .nosotros_inicial_subtitulo h2, .nosotros_intermedio_subtitulo h2, .menu_inicial_subtitulo h2, .menu_intermedio_subtitulo h2, .galeria_subtitulo h2, .beneficio_inicial_subtitulo h2, .beneficio_intermedio_subtitulo h2, .contacto_inicial_subtitulo h2, .contacto_intermedio_subtitulo h2, .mapasitio_subtitulo h2, .reservas_subtitulo h2, .rrhh_subtitulo h2, .franquicia_subtitulo h2, .prensa_subtitulo h2, .prensa_intermedio_subtitulo h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 1rem 0.25rem white;
          box-shadow: 0 0 1rem 0.25rem white;
  color: white;
}

.titulo_caja h2, .home_inicial_subtitulo h2, .home_intermedio_subtitulo h2, .nosotros_inicial_subtitulo h2, .nosotros_intermedio_subtitulo h2, .menu_inicial_subtitulo h2, .menu_intermedio_subtitulo h2, .galeria_subtitulo h2, .beneficio_inicial_subtitulo h2, .beneficio_intermedio_subtitulo h2, .contacto_inicial_subtitulo h2, .contacto_intermedio_subtitulo h2, .mapasitio_subtitulo h2, .reservas_subtitulo h2, .rrhh_subtitulo h2, .franquicia_subtitulo h2, .prensa_subtitulo h2, .prensa_intermedio_subtitulo h2 {
  top: 35%;
}

.titulo_principal {
  white-space: nowrap;
  z-index: 3;
}

.titulo_img {
  width: 90vw;
  height: 33vw;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.subtitulo_texto {
  padding-top: 4rem;
  padding-bottom: 3rem;
  margin-bottom: 0px;
  font-size: 2rem;
  white-space: nowrap;
  z-index: 2;
}

.subtitulo_error {
  width: 90vw;
  height: 18vw;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.subtitulo_img {
  width: 100%;
  height: auto;
  padding-top: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1000px) {
  .subtitulo_texto {
    font-size: calc(1em + 1vw);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .img_caja h1, .contacto_inicial h1, .contacto_intermedio h1, .img_caja h2, .contacto_inicial h2, .contacto_intermedio h2 {
    -webkit-box-shadow: 0 0 1rem 0.20rem white;
            box-shadow: 0 0 1rem 0.20rem white;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media only screen and (max-width: 800px) {
  .titulo_principal {
    font-size: calc(1.2em + 1.2vw);
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media only screen and (max-width: 600px) {
  .titulo_principal {
    padding: 0.5rem !important;
  }
  .subtitulo_texto {
    padding: 0.5rem !important;
    font-size: calc(0.8em + 0.8vw);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .img_caja h1, .contacto_inicial h1, .contacto_intermedio h1, .img_caja h2, .contacto_inicial h2, .contacto_intermedio h2 {
    -webkit-box-shadow: 0 0 1rem 0.15rem white;
            box-shadow: 0 0 1rem 0.15rem white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .img_caja h1, .contacto_inicial h1, .contacto_intermedio h1, .img_caja h2, .contacto_inicial h2, .contacto_intermedio h2 {
    -webkit-box-shadow: 0 0 1rem 0.10rem white;
            box-shadow: 0 0 1rem 0.10rem white;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media only screen and (max-width: 400px) {
  .titulo_principal {
    font-size: calc(1em + 1vw);
    padding: 0.25rem !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .subtitulo_texto {
    padding: 0.25rem !important;
    font-size: calc(0.7em + 0.7vw);
    -webkit-transition: 1s;
    transition: 1s;
  }
}

nav {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.12rem;
  background-color: black;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  width: 100%;
  color: white;
}

header {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.header_logo {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo h3 {
  margin: 0;
  margin-left: 1rem;
}

.header_seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header_seccion_interno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header_seccion_interno_item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.header_mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header_seccion_interno_item {
    display: none;
  }
  .header_mobile {
    position: relative;
    display: inline-block;
    background-color: transparent;
  }
  .header_mobile_boton {
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 5rem;
    border-radius: 20px;
  }
  #menu__img {
    background-color: transparent !important;
    width: 100%;
  }
  .header_mobile_links {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    z-index: 5;
    border-radius: 20px;
  }
  .header_mobile_links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .header_mobile_links a:hover {
    -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .header_mobile_links_ultimo:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .header_mobile:hover .header_mobile_links {
    display: block;
  }
  .header_mobile:hover .header_mobile_boton {
    background-color: #c4c3c3;
  }
  .header_mobile_links-desplegable {
    right: 0%;
  }
}

@media only screen and (max-width: 400px) {
  .header_logo h3 {
    display: none;
  }
}

#iconoDePagina {
  height: 6rem;
}

#logoPagina {
  height: 5rem;
}

.home {
  background-image: url(imagenes/fondo-nombre-rest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffebb5;
}

.home1_img {
  width: 100%;
  height: auto;
}

.home__nav__section {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.home__nav__section:hover {
  -webkit-transform: scale(1.25, 1.25);
          transform: scale(1.25, 1.25);
  -webkit-transition: 1s;
  transition: 1s;
}

.home__nav__section:hover a {
  color: white;
}

.home__title {
  padding-top: 10%;
  padding-bottom: 50%;
  margin-bottom: 0;
  color: black;
  font-weight: bold;
  text-shadow: 0em 0em 0.2em white;
}

h1 {
  font-size: 50px;
  color: black;
}

.home__nav__section__eight {
  display: none;
}

.home__nav__section__four {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__nav__section__four h3 {
  margin: 0;
  margin-left: 1rem;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 3.5s;
}

.home_nav_interno {
  padding-left: 15px;
  padding-right: 15px;
}

.home_nav_section_otros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home_nav_section_otros_interno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.home_intro p {
  padding-left: 5%;
  padding-right: 5%;
}

.home_intro h3 {
  padding-bottom: 3rem;
  padding-left: 5%;
  padding-right: 5%;
}

.home_seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_seccion_img {
  width: 50%;
}

.home_seccion_img img {
  width: 100%;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.home_seccion_img img:hover {
  -webkit-box-shadow: 0 0 1rem 0.25rem black;
          box-shadow: 0 0 1rem 0.25rem black;
  -webkit-transition: 1s;
  transition: 1s;
}

.home_seccion_texto {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

.home_seccion_texto h3 {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 1rem 0.25rem black;
          box-shadow: 0 0 1rem 0.25rem black;
}

.home_seccion_texto h5 {
  margin-top: 1rem;
}

.home_institucional_title {
  padding-bottom: 3rem;
}

.home_institucional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.home_institucional h4 {
  border-radius: 50px;
  -webkit-box-shadow: 0 0 1rem 0.25rem black;
          box-shadow: 0 0 1rem 0.25rem black;
  text-decoration: none;
}

.home_institucional_img {
  width: 200px;
  height: 175px;
  border-radius: 50px;
}

.home_institucional_texto {
  width: 200px;
  height: 175px;
  background-color: rgba(0, 0, 0, 0.507);
  opacity: 100%;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50px;
}

.home_institucional_texto:hover {
  opacity: 0%;
  color: white;
  line-height: 175px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home_inicial_subtitulo {
  width: 90vw;
  height: 18vw;
  margin-bottom: 3rem;
}

.home_inicial_subtitulo h2 {
  top: 35%;
}

.home_intermedio_subtitulo {
  width: 90vw;
  height: 20vw;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.home_intermedio_subtitulo h2 {
  top: 45%;
}

.home_institucional_item {
  margin-bottom: 3rem;
}

.home_institucional_item img {
  margin-top: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.home_institucional_item:hover img {
  -webkit-box-shadow: 0 0 1rem 0.15rem black;
          box-shadow: 0 0 1rem 0.15rem black;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (min-width: 2200px) {
  .margin {
    width: 1976px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 900px) {
  .home_seccion_texto {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .home_institucional {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_institucional_item h4 {
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .home_seccion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home_seccion_img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .home_seccion_texto {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

.nosotros {
  background-color: white;
}

.nosotros p {
  padding-left: 5%;
  padding-right: 5%;
}

.nosotros_inicial_subtitulo {
  width: 90vw;
  height: 18vw;
}

.nosotros_inicial_subtitulo h2 {
  top: 35%;
}

.nosotros_fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nosotros_fotos_img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nosotros_fotos_img img {
  border-radius: 50px;
}

.nosotros_fotos_img_hover {
  opacity: 0%;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 400px;
  height: 700px;
  -webkit-transition: 1s;
  transition: 1s;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 50px;
}

.nosotros_fotos_img_hover:hover {
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nosotros_intermedio_subtitulo {
  width: 90vw;
  height: 20vw;
  margin-bottom: 3rem;
}

.nosotros_intermedio_subtitulo h2 {
  top: 45%;
}

.nosotros_principios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.nosotros_principios_item {
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  border-radius: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.nosotros_principios_item:hover {
  -webkit-box-shadow: 0 0 1rem 0.15rem black;
          box-shadow: 0 0 1rem 0.15rem black;
  -webkit-transition: 1s;
  transition: 1s;
}

.nosotros_carousel {
  height: 7rem;
  margin-bottom: 1.75rem;
}

.nosotros_carousel p {
  font-size: calc(1.2em + 1.2vw);
  font-weight: bold;
  font-style: italic;
}

.subtitulo_texto_h3 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nosotros_historia {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
  .nosotros_principios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros_principios_item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .nosotros_carousel p {
    font-size: calc(1.0em + 1.0vw);
    line-height: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .nosotros_fotos_img img {
    width: 300px;
    height: 525px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .nosotros_fotos_img_hover {
    width: 300px;
    height: 525px;
  }
}

@media only screen and (max-width: 400px) {
  .nosotros_fotos_img img {
    width: 225px;
    height: 394px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .nosotros_fotos_img_hover {
    width: 225px;
    height: 394px;
  }
  .nosotros_fotos_img_hover h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
  .nosotros_fotos_img_hover p {
    line-height: 17px;
  }
}

.menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
}

.menu_inicial_subtitulo {
  width: 90vw;
  height: 18vw;
}

.menu_inicial_subtitulo h2 {
  top: 35%;
}

.menu_box_contenedor {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 2rem;
}

.menu_box {
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 50px;
  width: 350px;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu_box h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  display: inline;
  text-decoration: underline;
}

.menu_box p {
  margin-bottom: 0;
}

.menu_box h4 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

.menu_box:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 0 1rem 0.15rem   black;
          box-shadow: 0 0 1rem 0.15rem   black;
}

.menu_intermedio_subtitulo {
  width: 90vw;
  height: 20vw;
  margin-bottom: 3rem;
}

.menu_intermedio_subtitulo h2 {
  top: 45%;
}

@media only screen and (min-width: 1560px) {
  .menu_box_contenedor {
    width: 1392px;
  }
}

@media only screen and (max-width: 450px) {
  .menu_box {
    width: unset;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.galeria {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria_subtitulo {
  width: 90vw;
  height: 18vw;
}

.galeria_subtitulo h2 {
  top: 35%;
}

.galeria_recuadro {
  margin: 0 auto;
  background-color: white;
  padding-bottom: 4rem;
  height: 1000px;
  width: 912px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}

.galeria_recuadro_item {
  position: absolute;
  width: 290px;
  height: 225px;
  margin: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}

.galeria_recuadro_uno {
  margin-left: 10px;
}

.galeria_recuadro_dos {
  margin-left: 310px;
}

.galeria_recuadro_tres {
  margin-left: 610px;
}

.galeria_recuadro_cuatro {
  margin-top: 244px;
  margin-left: 10px;
}

.galeria_recuadro_cinco {
  margin-top: 244px;
  margin-left: 310px;
}

.galeria_recuadro_seis {
  margin-top: 244px;
  margin-left: 610px;
}

.galeria_recuadro_siete {
  margin-top: 478px;
  margin-left: 10px;
}

.galeria_recuadro_ocho {
  margin-top: 478px;
  margin-left: 310px;
}

.galeria_recuadro_nueve {
  margin-top: 478px;
  margin-left: 610px;
}

.galeria_recuadro_diez {
  margin-top: 712px;
  margin-left: 10px;
}

.galeria_recuadro_once {
  margin-top: 712px;
  margin-left: 310px;
}

.galeria_recuadro_doce {
  margin-top: 712px;
  margin-left: 610px;
}

.galeria_recuadro_comida {
  position: absolute;
  left: 2px;
  margin-top: 0px;
  margin-left: 0px;
  width: 288px;
  height: 224px;
  line-height: 225px;
  opacity: 0%;
  -webkit-transition: 1s all;
  transition: 1s all;
  border-radius: 2.5%;
}

.galeria_recuadro_comida:hover {
  opacity: 100%;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 25px;
  -webkit-transition: 1s all;
  transition: 1s all;
  background-color: rgba(0, 0, 0, 0.3);
}

.box_toggle {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box_toggle img {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 576px;
  height: 448px;
}

.box_toggle div {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.box_toggle div h3 {
  width: 15rem;
}

.galeria__recuadro__img {
  width: 18rem;
  height: 14rem;
  margin: 0.2vh 0.2vw 0.2vh 0.2vw;
  border-radius: 2.5%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media only screen and (max-width: 1050px) {
  .galeria_recuadro {
    width: 600px;
    height: 1500px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: all;
    transition-property: all;
  }
  .galeria_recuadro_item {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: all;
    transition-property: all;
  }
  .galeria_recuadro_uno {
    margin-left: 10px;
  }
  .galeria_recuadro_dos {
    margin-left: 310px;
  }
  .galeria_recuadro_tres {
    margin-left: 10px;
    margin-top: 244px;
  }
  .galeria_recuadro_cuatro {
    margin-top: 244px;
    margin-left: 310px;
  }
  .galeria_recuadro_cinco {
    margin-top: 478px;
    margin-left: 10px;
  }
  .galeria_recuadro_seis {
    margin-top: 478px;
    margin-left: 310px;
  }
  .galeria_recuadro_siete {
    margin-top: 712px;
    margin-left: 10px;
  }
  .galeria_recuadro_ocho {
    margin-top: 712px;
    margin-left: 310px;
  }
  .galeria_recuadro_nueve {
    margin-top: 946px;
    margin-left: 10px;
  }
  .galeria_recuadro_diez {
    margin-top: 946px;
    margin-left: 310px;
  }
  .galeria_recuadro_once {
    margin-top: 1180px;
    margin-left: 10px;
  }
  .galeria_recuadro_doce {
    margin-top: 1180px;
    margin-left: 310px;
  }
}

@media only screen and (max-width: 925px) {
  .box_toggle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box_toggle img {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    width: 500px;
    height: 338px;
  }
  .box_toggle div {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box_toggle div h3 {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 768px) {
  .galeria_recuadro {
    width: 300px;
    height: 2900px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: all;
    transition-property: all;
  }
  .galeria_recuadro_item {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: all;
    transition-property: all;
    margin-left: 10px;
  }
  .galeria_recuadro_uno {
    margin-top: 10px;
  }
  .galeria_recuadro_dos {
    margin-top: 244px;
  }
  .galeria_recuadro_tres {
    margin-top: 478px;
  }
  .galeria_recuadro_cuatro {
    margin-top: 712px;
  }
  .galeria_recuadro_cinco {
    margin-top: 946px;
  }
  .galeria_recuadro_seis {
    margin-top: 1180px;
  }
  .galeria_recuadro_siete {
    margin-top: 1414px;
  }
  .galeria_recuadro_ocho {
    margin-top: 1648px;
  }
  .galeria_recuadro_nueve {
    margin-top: 1882px;
  }
  .galeria_recuadro_diez {
    margin-top: 2116px;
  }
  .galeria_recuadro_once {
    margin-top: 2350px;
  }
  .galeria_recuadro_doce {
    margin-top: 2584px;
  }
}

@media only screen and (max-width: 600px) {
  .box_toggle img {
    width: 300px;
    height: 202px;
    margin-right: auto;
    margin-left: auto;
  }
  .box_toggle div {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 400px) {
  .galeria__recuadro__img {
    width: 232px;
    height: 180px;
  }
  .galeria_recuadro_item {
    position: absolute;
    width: 232px;
    height: 180px;
  }
  .galeria_recuadro_comida {
    width: 232px;
    height: 180px;
  }
  .galeria_recuadro {
    width: 252px;
    height: 2350px;
  }
  .galeria_recuadro_dos {
    margin-top: 200px;
  }
  .galeria_recuadro_tres {
    margin-top: 390px;
  }
  .galeria_recuadro_cuatro {
    margin-top: 580px;
  }
  .galeria_recuadro_cinco {
    margin-top: 770px;
  }
  .galeria_recuadro_seis {
    margin-top: 960px;
  }
  .galeria_recuadro_siete {
    margin-top: 1150px;
  }
  .galeria_recuadro_ocho {
    margin-top: 1340px;
  }
  .galeria_recuadro_nueve {
    margin-top: 1530px;
  }
  .galeria_recuadro_diez {
    margin-top: 1720px;
  }
  .galeria_recuadro_once {
    margin-top: 1910px;
  }
  .galeria_recuadro_doce {
    margin-top: 2100px;
  }
}

.beneficio_inicial_subtitulo {
  width: 90vw;
  height: 18vw;
}

.beneficio_inicial_subtitulo h2 {
  top: 35%;
}

.beneficio_interno {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
      grid-template-areas: "beneficio9 beneficio10 beneficio11 beneficio12"
 "beneficio1 beneficio2 beneficio3 beneficio7"
 "beneficio4 beneficio5 beneficio6 beneficio8";
  grid-column-gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 4rem;
}

.beneficio_interno_item {
  border-radius: 50px;
  padding: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.beneficio_interno_item:hover {
  -webkit-box-shadow: 0 0 1rem 0.15rem black;
          box-shadow: 0 0 1rem 0.15rem black;
  -webkit-transition: 1s;
  transition: 1s;
}

.beneficio_interno_img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.beneficio_interno_img h3 {
  font-size: 4rem;
  font-weight: 1500;
}

.beneficio_interno_img--format {
  padding-top: 3rem;
}

.beneficio_interno_titulo {
  font-weight: bold;
  font-size: 20px;
}

.beneficio_interno_texto {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#beneficio1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: beneficio1;
}

#beneficio2 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: beneficio2;
}

#beneficio3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-area: beneficio3;
}

#beneficio4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: beneficio4;
}

#beneficio5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: beneficio5;
}

#beneficio6 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-area: beneficio6;
}

#beneficio7 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
  grid-area: beneficio7;
}

#beneficio8 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
  grid-area: beneficio8;
}

#beneficio9 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: beneficio9;
}

#beneficio10 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: beneficio10;
}

#beneficio11 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  grid-area: beneficio11;
}

#beneficio12 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
  grid-area: beneficio12;
}

.beneficio_intermedio_subtitulo {
  width: 90vw;
  height: 20vw;
  margin-bottom: 3rem;
}

.beneficio_intermedio_subtitulo h2 {
  top: 45%;
}

.beneficio_interno_item_2 {
  width: 28%;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 30px;
}

.beneficio_interno_item_2:hover {
  -webkit-box-shadow: 0 0 1rem 0.15rem black;
          box-shadow: 0 0 1rem 0.15rem black;
  -webkit-transition: 1s;
  transition: 1s;
}

.beneficio_interno_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 925px) {
  .beneficio_interno {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 6;
    grid-row: 6;
        grid-template-areas: "beneficio9 beneficio10"
 "beneficio1 beneficio2"
 "beneficio4 beneficio5" 
 "beneficio11 beneficio12"
 "beneficio3 beneficio7" 
 "beneficio6 beneficio8";
    grid-column-gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .beneficio_interno_item_2 {
    width: 35%;
  }
}

@media only screen and (max-width: 500px) {
  .beneficio_interno_item_2 {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .beneficio_interno {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 8;
    grid-row: 8;
        grid-template-areas: "beneficio9"
 "beneficio1" 
 "beneficio4"
 "beneficio10" 
 "beneficio2" 
 "beneficio5"
 "beneficio11" 
 "beneficio3"
 "beneficio6"
 "beneficio12" 
 "beneficio7" 
 "beneficio8";
    grid-column-gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.contacto_titulo {
  width: 90vw;
  height: 33vw;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.contacto_inicial {
  width: 90vw;
  height: 33vw;
}

.contacto_inicial h2 {
  top: 35%;
}

.contacto_inicial_subtitulo {
  width: 90vw;
  height: 18vw;
}

.contacto_inicial_subtitulo h2 {
  top: 35%;
}

.contacto_intermedio_subtitulo {
  width: 90vw;
  height: 20vw;
  margin-bottom: 3rem;
}

.contacto_intermedio_subtitulo h2 {
  top: 45%;
}

.uno {
  width: 100%;
  display: inline-block;
}

.contacto_texto {
  margin-left: 5%;
  margin-right: 5%;
}

.contacto_caja {
  padding-bottom: 0px;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contacto_caja_izq {
  width: 50%;
  padding: 0 2%;
}

#mapa {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 50px;
}

.contacto_caja_der {
  width: 50%;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contacto_caja_der ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contacto_caja_der ul li {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  color: black;
}

.contacto_caja_der_minititulo {
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  color: black;
  margin: 0;
}

.contacto_caja_der_datos {
  margin-bottom: 0.25rem;
  padding-left: 0.50rem;
  color: black;
}

.contacto_caja_der_social {
  width: 3.5rem;
  height: 3.5rem;
}

.contacto_intermedio {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contacto_form {
  background-color: white;
}

.contacto_form_completar {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 25%;
  padding-right: 25%;
}

.contacto_form_completar_info {
  border-bottom: grey 1px solid  !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  font-size: 1.20rem;
  padding-left: 0.50rem;
  border-radius: 0.70rem;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: 'Zilla Slab', serif !important;
  background-color: black;
  color: white;
  margin-left: 0px;
}

.contacto_form_completar_info::-webkit-input-placeholder {
  color: white;
}

.contacto_form_completar_info:-ms-input-placeholder {
  color: white;
}

.contacto_form_completar_info::-ms-input-placeholder {
  color: white;
}

.contacto_form_completar_info::placeholder {
  color: white;
}

.contacto_form_completar_info:focus {
  -webkit-box-shadow: 0 0 1rem 0.25rem   black;
          box-shadow: 0 0 1rem 0.25rem   black;
  outline: none;
  font-family: 'Zilla Slab', serif !important;
}

#buttonEnviar {
  margin-bottom: 3%;
  border-radius: 0.70rem;
  color: black;
  font-weight: bold;
}

.contacto_form_completar_info--color {
  background-color: white !important;
}

.contacto_form_completar_info--color:hover {
  background-color: black !important;
  color: white !important;
}

@media only screen and (max-width: 768px) {
  .contacto_caja_der_social {
    width: 2.0rem;
    height: 2.0rem;
  }
  .contacto_caja {
    padding-bottom: 0px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto_caja_der {
    width: auto;
  }
  .contacto_caja_izq {
    width: auto;
    height: 20rem;
  }
}

@media only screen and (max-width: 600px) {
  .contacto_form_completar {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .contacto_form_completar {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*----------------------------------------------------------------*/
/*------------------------footer----------------------------------*/
/*----------------------------------------------------------------*/
footer {
  background-color: black;
  color: white;
  height: 20.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  -webkit-transition: 2s;
  transition: 2s;
}

footer a {
  color: white;
}

footer a:hover {
  font-weight: bold;
  text-decoration: none;
}

footer h3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.footer_mapasitio {
  font-size: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer_mapasitio_texto {
  text-decoration: underline;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_newsletter {
  font-size: 1rem;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  margin-bottom: 0.6rem;
  color: white;
  text-align: center;
  border-radius: 0.70rem;
}

.footer_newsletter::-webkit-input-placeholder {
  color: white;
  text-align: center;
}

.footer_newsletter:-ms-input-placeholder {
  color: white;
  text-align: center;
}

.footer_newsletter::-ms-input-placeholder {
  color: white;
  text-align: center;
}

.footer_newsletter::placeholder {
  color: white;
  text-align: center;
}

.footer_boton {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.footer_boton:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 900px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer {
    height: 51.0rem;
    -webkit-transition: 2s;
    transition: 2s;
  }
}

.construccion {
  width: 40%;
  height: auto;
}

section h1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

section h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.error_link {
  color: black;
}

.error_link:hover {
  color: black;
}

.error_texto {
  margin-left: 5%;
  margin-right: 5%;
}

.mapasitio_subtitulo {
  width: 90vw;
  height: 18vw;
}

.mapasitio_subtitulo h2 {
  top: 35%;
}

.sitemap_caja {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

.sitemap_subtitulo {
  text-align: left;
  text-decoration: none;
}

.sitemap_list {
  list-style-type: none;
  display: block;
  text-align: center;
  margin-bottom: 4rem;
  padding-left: 0;
}

.sitemap_list li a {
  color: black;
}

.sitemap_list li a:hover {
  font-weight: bold;
  color: blue;
}

@media only screen and (max-width: 600px) {
  .sitemap_caja {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sitemap_caja h4 {
    text-align: center;
  }
  .sitemap_list {
    text-align: center;
  }
}

.reservas_subtitulo {
  width: 90vw;
  height: 18vw;
}

.reservas_subtitulo h2 {
  top: 35%;
}

.reservas_form {
  padding-left: 25%;
  padding-right: 25%;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.reservas_form_campo {
  border-bottom: grey 1px solid  !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  font-size: 1.20rem;
  padding-left: 0.50rem;
  border-radius: 0.70rem;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: 'Zilla Slab', serif !important;
  background-color: black;
  color: white;
  margin-left: 0px;
}

.reservas_form_campo::-webkit-input-placeholder {
  color: white !important;
}

.reservas_form_campo:-ms-input-placeholder {
  color: white !important;
}

.reservas_form_campo::-ms-input-placeholder {
  color: white !important;
}

.reservas_form_campo::placeholder {
  color: white !important;
}

.reservas_form_campo:focus {
  -webkit-box-shadow: 0 0 1rem 0.25rem   black;
          box-shadow: 0 0 1rem 0.25rem   black;
  outline: none;
}

.reservas_form_boton {
  background-color: white;
  color: black !important;
}

.reservas_form_boton:hover {
  background-color: black;
  color: white !important;
}

@media only screen and (max-width: 600px) {
  .reservas_form {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 400px) {
  .reservas_form {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.rrhh_subtitulo {
  width: 90vw;
  height: 18vw;
}

.rrhh_subtitulo h2 {
  top: 35%;
}

.rrhh_texto {
  margin-left: 5%;
  margin-right: 5%;
}

.rrhh_texto h4 {
  text-decoration: none;
}

.rrhh_cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rrhh_edit {
  width: 50%;
}

.rrhh_box {
  margin-top: 1rem;
}

.rrhh_campo {
  border-bottom: grey 1px solid  !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  font-size: 1.20rem;
  padding-left: 0.50rem;
  border-radius: 0.70rem;
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: 'Zilla Slab', serif !important;
  background-color: black;
  color: white;
  margin-left: 0px;
}

.rrhh_campo::-webkit-input-placeholder {
  color: white;
}

.rrhh_campo:-ms-input-placeholder {
  color: white;
}

.rrhh_campo::-ms-input-placeholder {
  color: white;
}

.rrhh_campo::placeholder {
  color: white;
}

.rrhh_campo:focus {
  -webkit-box-shadow: 0 0 1rem 0.25rem   black;
          box-shadow: 0 0 1rem 0.25rem   black;
  outline: none;
  font-family: 'Zilla Slab', serif !important;
}

.rrhh_box_cv {
  background-color: black;
  color: white;
  margin-top: 1rem;
  border-radius: 0.7rem;
  text-align: left;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  font-size: 1.2rem;
  text-overflow: ellipsis;
}

.rrhh_box_cv input {
  width: 100%;
}

.rrhh_boton {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.rrhh_boton-color {
  background-color: white !important;
}

.rrhh_boton-color:hover {
  background-color: black !important;
  color: white !important;
}

@media only screen and (max-width: 800px) {
  .rrhh_edit {
    width: 75%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media only screen and (max-width: 500px) {
  .rrhh_edit {
    width: 90%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.franquicia_subtitulo {
  width: 90vw;
  height: 18vw;
}

.franquicia_subtitulo h2 {
  top: 35%;
}

.franquicia_contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.franquicia_contenido p {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.prensa_subtitulo {
  width: 90vw;
  height: 18vw;
}

.prensa_subtitulo h2 {
  top: 35%;
}

.prensa_contenedor {
  width: 100%;
  padding-bottom: 3rem;
}

.prensa_contenedor_centro {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 3rem;
}

.prensa_contenedor_centro_item {
  width: 280px;
  border-radius: 50px;
  margin-bottom: 1rem;
  padding-top: 2%;
}

.prensa_contenedor_centro_item img {
  width: 212.8px;
  height: 165px;
  border-radius: 50px;
}

.prensa_contenedor_centro_item:hover {
  -webkit-box-shadow: 0 0 1rem 0.15rem   black;
          box-shadow: 0 0 1rem 0.15rem   black;
}

.prensa_paginas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

.prensa_paginas div {
  width: 26px;
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
}

.prensa_paginas div a {
  color: black;
  font-weight: bold;
}

.prensa_paginas div:hover {
  background-color: black;
}

.prensa_paginas div:hover a {
  color: white;
}

.prensa_intermedio_subtitulo {
  width: 90vw;
  height: 20vw;
  margin-bottom: 3rem;
}

.prensa_intermedio_subtitulo h2 {
  top: 45%;
}

.prensa_input {
  padding-bottom: 3rem;
}

.prensa_newsletter {
  font-size: 1.2rem;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.70rem;
}

.prensa_newsletter::-webkit-input-placeholder {
  color: white;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.prensa_newsletter:-ms-input-placeholder {
  color: white;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.prensa_newsletter::-ms-input-placeholder {
  color: white;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.prensa_newsletter::placeholder {
  color: white;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.prensa_newsletter:focus {
  outline: none;
}

.prensa_boton {
  background-color: white;
  color: black;
  font-weight: bold;
}

.prensa_boton:hover {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 1385px) {
  .prensa_contenedor_centro {
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .prensa_newsletter {
    width: 80%;
  }
}
/*# sourceMappingURL=estilos.css.map */